<div style="padding-top:50px; width:100%; background-image:url('assets/img/bg/bg-argenta.jpg');" ng-controller="GrillaProductosCtrl">
	<div class="container" style="width:90%; margin-top:25px;">
		<div class="row" style="text-align:right; margin:0px;">
			<button class="btn btn-u" title="Volver" onclick="history.back()"><i class="fa fa-long-arrow-left"></i></button>
		</div>
		
		<!-- GRILLA LOCAES -->
		<div class="panel panel-u margin-bottom-40">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-10">
		                <h3 style="margin:0; color:white;"><i class="fa fa-tasks"></i>{{grillaTitulo}}</h3>
		            </div>
		            <div class="col-md-1">
		                <button class="btn btn-u" title="Agregar" data-toggle="modal" data-target="#popupfrm" ng-click="agregarItem()"><i class="fa fa-plus"></i></button>
		            </div>
		            <div class="col-md-1">
		                <button class="btn btn-u" title="Actualizar Grilla" ng-click="traerTodo()"><i class="fa fa-refresh"></i></button>
		            </div>
		        </div>     
		    </div>
		    <!-- UI-GRID -->
		    <div ui-grid="gridOptions" class="myGrid" style="height:300px !important;" ui-grid-pagination ui-grid-resize-columns ui-grid-selection ui-grid-exporter></div>	    
		</div>

		<!-- GRILLA FOTOS -->
		<div class="panel panel-u margin-bottom-40" ng-show="grillaFotosShow">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-5">
		                <h3 style="margin:0; color:white;"><i class="fa fa-picture-o"></i>{{grillaFotosTitulo}}</h3>
		            </div>
		            <div class="col-md-6">
		            	<div class="inline-block">
		            		<input type="file" ng-model="files" name="files" multiple accept="image/*" maxsize="5000" required base-sixty-four-input>
		            	</div>
							
						<div class="inline-block" ng-if="files != null">
		                	<button class="btn btn-u" title="Agregar" ng-click="agregarFotos()"><i class="fa fa-plus"></i></button>
		                </div>
		            </div>
		            <div class="col-md-1">
		                <button class="btn btn-u" title="Actualizar Grilla" ng-click="traerFotos(productoActual)"><i class="fa fa-refresh"></i></button>
		            </div>
		        </div>     
		    </div>
		    <!-- UI-GRID -->
		    <div ui-grid="gridFotosOptions" class="myGrid" style="height:300px !important;"></div>  
		</div>

		<!-- Popup frm -->
	    <div class="modal fade" id="popupfrm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	        
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                    <h4 class="modal-title">{{frmTitulo}}</h4>
	                </div>
	                <div class="modal-body">
	                    
	                    <div class="reg-block" style="width:100%;">

	                        <!-- form   -->
	                        <form name="frm" novalidate>
	                                
					            <div class="row">
					                <div class="col col-md-6">
					                    
					                    <!-- descripcion -->
					                    <div class="input-group margin-bottom-20">
					                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
					                        <input name="descripcion" type="text" class="form-control" placeholder="Descripción" ng-model="frmData.descripcion" required>
					                    </div>
					                    <div class="messages" ng-show="frm.$submitted || frm.descripcion.$touched">
					                        <span ng-show="frm.descripcion.$error.required">El campo es obligatorio.</span>
					                    </div>    

					                </div>
					                <div class="col col-md-6">

					                	<!-- precio -->
					                    <div class="input-group margin-bottom-20">
					                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
					                        <input name="precio" type="decimal" min="10" max="1000" class="form-control" placeholder="Precio" ng-model="frmData.precio" required>
					                    </div>
					                    <div class="messages" ng-show="frm.$submitted || frm.precio.$touched">
					                        <span ng-show="frm.precio.$error.required">El campo es obligatorio.</span>
					                    </div>  

					                </div>
					            </div>

					            <div class="row">
					            	<div class="col col-md-12">

                               			<!-- ingredientes -->
                               			<textarea name="ingredientes" rows="3" placeholder="Ingredientes" style="width:100%; resize:none;" ng-model="frmData.ingredientes" required></textarea>
                               			<div class="messages" style="margin-top:5px;" ng-show="frm.$submitted || frm.ingredientes.$touched">
					                    	<span ng-show="frm.ingredientes.$error.required">El campo es obligatorio.</span>
					                	</div>

                               			<!-- cbo locales -->
                               			<label class="select" ng-if="usuarioActual.rol == 'admin' && frmTitulo == 'Agregar Producto'">
			                                <select style="width: 528px; height:28px;" name="local" ng-model="frmData.local" required>
			                                    <option ng-repeat="local in listaLocales" value={{local.nombre}}>{{local.nombre}}</option>
			                   				</select>
			                                <i style="top:10px; background:none;"></i>
			                            </label>
			                            <div class="messages" style="margin-top:5px;" ng-show="frm.$submitted || frm.local.$touched">
					                    	<span ng-show="frm.local.$error.required">El campo es obligatorio.</span>
					                	</div>

					            	</div>
					            </div>
	                            
	                        </form>
	                        <!-- fin form -->		                                       
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Cerrar</button>
	                    <button ng-if="frmTitulo == 'Editar Producto'" type="submit" class="btn-u btn-u-primary" ng-click="guardarItemEditado()" ng-disabled="frm.$invalid" data-dismiss="modal">Modificar</button>
	                    <button ng-if="frmTitulo == 'Agregar Producto'" type="submit" class="btn-u btn-u-primary" ng-click="guardarItemAgregado()" ng-disabled="frm.$invalid" data-dismiss="modal">Agregar</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
